@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --background-color: hsl(185, 41%, 84%);
    --Green-400: hsl(172, 67%, 45%);
    --Green-900: hsl(183, 100%, 15%);
    --Grey-500: hsl(186, 14%, 43%);
    --Grey-400: hsl(184, 14%, 56%);
    --Grey-200: hsl(185, 41%, 84%);
    --Grey-50: hsl(189, 47%, 97%);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    margin: 0;
}

input{
    background-color: var(--Grey-200);
    font-size: 24px;
    border: none;
    border-radius: 5px;
    height: 50px;
}

.container{
    font-family: 'Space Mono';
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 900px;
    min-height: 400px;
    padding: 20px;
    border-radius: 20px;
    gap: 15px;
}

.bill-container input{
    background: url(images/icon-dollar.svg) no-repeat left var(--Grey-200);
    text-align: right;
    width: 100%;
}

.number-people-container input{
    background: url(images/icon-person.svg) no-repeat left var(--Grey-200);
    text-align: right;
    width: 100%;
}

.buttons-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.buttons-container button{
    background-color: var(--Green-900);
    width: 120px;
    height: 50px;
    border: none;
    color: white;
    margin: 5px;
    border-radius: 5px;
    font-family: 'Space Mono';
    font-size: 24px;
    cursor: pointer;
}

.buttons-container button:hover{
    background-color: var(--Green-400);
    color: var(--Green-900);
    transition-duration: 0.3s;
}

.buttons-container button:focus{
    background-color: var(--Green-400);
    color: var(--Green-900);
}

.buttons-container input{
    width: 120px;
    font-family: 'Space Mono';
    text-align: center;
}

.custom-tip-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-container{
    background-color: var(--Green-900);
    color: white;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tip-amount, #total{
    font-size: 40px;
    color: var(--Green-400);
    font-weight: bold;
}

.result-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attribution{
    font-size: 11px; 
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%); 
}