@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --background-color: #ffffff;
    --sec-background-color: #cecece;
    --text-color: #000000;
}

h1{
    margin: 10px 0;
    color: rgb(255, 60, 60);
}

p, a{
    font-size: 18px;
    margin: 10px 0;
}

body{
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-family: 'Montserrat';
}

header{
    width: 70vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--sec-background-color);
    margin: 10px;
    padding: 20px;
    border-radius: 4px;
}

main{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.img-container{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container img{
    object-fit: cover;
    max-width: 100%;
    border-radius: 4px;
}

.hover-box{
    display: none;
    width: 30vw;
    height: 30vh;
    top: 0%;
    right: 0%;
    position: absolute;
}

.img-container:hover .hover-box{
    display: block;
}

.links-container{
    width: 70vw;
    margin: 10px;
    padding: 20px;
    background-color: var(--sec-background-color);
    text-align: left;
    border-radius: 4px;
}

.links-container ul{
    margin: 10px 0 10px 0;
    padding-inline-start: 40px;
}

.links-container a{
    color: var(--text-color);
    text-decoration: none;
}

.links-container a:hover{
    color: var(--text-color);
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    main{
        flex-direction: column;
    }
    
    header{
        flex-direction: column;
        width: 90vw;
        height: 100%;
        padding: 10px;
    }
    
    .img-container{
        width: 90vw;
    }
    
    .img-container:hover .hover-box{
        display: none;
    }

    .links-container{
        width: 90vw;
        height: 100%;
        padding: 10px;
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --background-color: #202020;
        --sec-background-color: #2b2a2a;
        --text-color: #ffffff;
    }
}