@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #ffffff;
    --sec-background-color: #cecece;
    --text-color: #000000;
}

@media (prefers-color-scheme: dark){
        :root{
        --background-color: #202020;
        --sec-background-color: #2b2a2a;
        --text-color: #ffffff;
    }
}

body{
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    font-family: 'Montserrat';
    margin: 0;
}

.text-container{
    width: 40vw;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.text-container h1{
    color: rgb(255, 60, 60);
    font-size: 50px;
    margin: 0;
}

.text-container p{
    margin: 0;
    font-size: 20px;
}

.img-container{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.img-container img{
    object-fit: cover;
    max-height: 50vh;
    border-radius: 5px;
}

.links-container{
    margin: 10px;
    padding: 5px;
    background-color: var(--sec-background-color);
    height: 25%;
    width: 20vw;
    text-align: left;
    border-radius: 5px;
}

.links-container a{
    color: var(--text-color);
    text-decoration: none;
}

.links-container a:hover{
    color: var(--text-color);
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .img-container, .img-container img{
        width: 95vw;
        max-height: 70vw;
    }

    .links-container{
        width: 95vw;
    }
}