:root{
    --purple-500: hsl(259, 100%, 65%);
    --red-400: hsl(0, 100%, 67%);
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: larger;
    background-color: whitesmoke;
}

.container{
    background-color: white;
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    margin: 60px;
    padding: 40px;
    border-radius: 30px 30px 150px 30px;
}

.input-container{
    display: flex;
}

label{
    display: block;
}

input{
    border-radius: 5px;
    border: 1px solid hsl(0, 1%, 44%);
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.submit-container{
    display: flex;
    align-items: center;
}

hr{
    flex-grow: 1;
}

hr.mobile-line{
    display: none;
}

.submit-button{
    width: 100px; 
    height: 100px; 
    background-color: var(--purple-500); 
    border: none; 
    padding: 0; 
    cursor: pointer;
    border-radius: 100%;
    align-items: center;
}

#result p{
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 3em;
    font-style: italic;
    font-weight: 800;
    line-height: 1;
}

.result-num{
    color: var(--purple-500);
}

@media (max-width: 375px){
    .container{
        width: 90vw;
        margin: 0;
    }

    .input-container{
        flex-wrap: wrap;
        align-items: flex-start;
    }

    input{
        width: 90px;
        height: 50px;
        margin: 0 0 20px 0;
    }

    .submit-button{
        width: 60px;
        height: 60px;
    }

    #result p{
        padding: 0;
    }

    hr.mobile-line{
        display: block;
    }
}