:root{
    --White: rgb(255, 255, 255);
    --Slate-300: rgb(214, 226, 240);
    --Slate-500: rgb(104, 119, 141);
    --Slate-900: rgb(31, 50, 81);
}

*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Slate-300);
}

.content-container{
    width: 20vw;
    background-color: var(--White);
    padding: 20px;
    border-radius: 10px;
}

.content-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}